header {
  background-color: #FFCC99;
  box-shadow: 0px 7px 29px 0px;
}

main {
  background-color: #E6F2FF;
  display: flex;
}

aside {
  background-color: #B3D9FF;
  flex: 1;
  border: 1px solid #CCC;
}

footer {
  background-color: #99CC99;
}

h1 {
  font-weight: bold;
  text-align: center;
}

section {
  margin: 20px;
  flex: 3;
}

footer {
  border: 1px solid #CCC;
  box-shadow: 0px 7px 29px 0px;
}